@import '../../../styles/variables.scss';

.cs-search--button {
  float: left;
  margin-top: 2rem;
  margin-left: 2rem;
}
.cs-hero--container {
  margin-top: -160px;
}

.cs-information--grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px auto;
}

.cs-repo--avatar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
}

.cs-repo--title {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.cs-repo--description {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;

  &__title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
}

.cs-repo--link {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

  &__title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
}

.cs-repo--author {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  &__title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
}

.cs-repo--tags {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;

  &__title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
  &__pillbox {
    border: 1px solid $primary;
    padding: 8px;
    border-radius: 100px;
    font-size: 12px;
    margin: 10px 10px 0 0px;
    float: left;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $white;
      cursor: pointer;
      user-select: none;
    }
  }
}


