body, html {
  height: 100%;
  position: relative;
  font-family: 'PT Sans', sans-serif;
}

body {
  min-height: 100%;
  background: #EDF2F4;
  margin: 0;
}

p {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Arvo', sans-serif;
  font-size: 36px;
}

