body, html {
  height: 100%;
  min-height: 100%;
  position: relative;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #EDF2F4;
  margin: 0;
}

p {
  font-family: 'PT Sans', sans-serif;
}


