@import '_variables.scss';

.cs-hero--large {
  height: 300px;
  width: 100%;
  min-width: 100%;
  background-color: $primary;
  position: relative;
  z-index: 0;
}

.cs-hero--title {
  color: $white;
  font-size: 48px;
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  text-transform: uppercase;
}

.cs-hero--container {
  margin-top: -160px;
}
