.width100 {
  width: 100%;
}

.cs-mb20 {
  margin-bottom: 20px;
}

.cs-mt20 {
  margin-top: 20px;
}

.cs-ml20 {
  margin-left: 10px;
}

.cs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs-text--center {
  text-align: center;
}
