<div class="container">
  <img src="/src//assets//csharpislogo.svg" alt="c# logo" class="cs-logo cs-mb20">
  <form [formGroup]="csSearchFormGroup">
    <div class="input-container">
      <input type="text" name="search" id="search" class="cs-input width100" placeholder="Enter repo..." formControlName="value">
    </div>
    <div class="button-container cs-mt20 cs-center">
        <button class="cs-btn cs-btn--primary" (click)="submitForm()">
          Search Repos
        </button>
        <button class="cs-btn cs-btn--tertiary cs-ml20">
          I'm Feeling Lucky
        </button>
      </div>
  </form>
</div>
<app-footer></app-footer>
