<div *ngIf="!resultsFound" class="cs-container">
  <form [formGroup]="csSearchFormGroup" class="cs-container--center">
    <div>
      <img src="/src//assets//csharpislogo.svg" alt="c# logo" class="cs-logo cs-mb20">
    </div>
    <div class="input-container">
      <input type="text" name="search" id="search" class="cs-input width100" placeholder="Enter a project name..."
        formControlName="searchQuery">
    </div>
    <div class="button-container cs-mt20 cs-center">
      <button class="cs-btn cs-btn--primary" (click)="submitForm()">
        Search Repos
      </button>
    </div>
  </form>
</div>

<app-search-results *ngIf="resultsFound" [searchResults]="searchResults"></app-search-results>


<app-footer></app-footer>
